@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-4);
  color: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}

.btnpad {
display: flex;
flex: 1;

width: 25%;
flex-wrap: wrap;
}

.button-wrapper {
  display: flexbox;
  flex: 1;
  flex-wrap: wrap;
  width: 5em;
  border: none;
  height: 5em;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background: var(--clr-grey-8);
  color: var(--clr-grey-1);
  outline: .1px solid rgb(235, 231, 231);
}

.button-wrapper:hover{
  background: var(--clr-grey-6);
  color: var(--clr-grey-1);
  transition: var(--transition);
  /* opacity: .5; */
}

.btn {
  display: flexbox;
  width: 7.05em;
  flex: 1;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--mainWhite);
  background: var(--clr-grey-2);
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: 1px solid hsl(213, 25%, 60%);
  /* outline: 1px solid hsl(212, 48%, 38%); */
  /* border-radius: 5px; */
  border: none;
  height: 5em;
  /* line-height: 6em; */
  padding: 0 16px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 9px 7px 9px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* align-items: center */
  z-index: 10;
}
.btn:nth-of-type(19){
  width: 14.06em;
}
.btn:hover{
  filter: brightness(80%);
}
.btn:nth-of-type(19):hover{
  filter: brightness(80%);
}
.operator {
  background-color: #fc8d38;
  color: #ffffff;
}

/* .clear-btn {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background: var(--clr-grey-8);
  color: var(--clr-grey-1);
  flex: 1;
  outline: 1px solid rgb(235, 231, 231);

}
.clear-btn:hover{
  background: var(--clr-grey-6);
  color: var(--clr-grey-1);
  transition: var(--transition);
} */

.input {
  height: 4em;
  display: flexbox;
  justify-content: flex-end;
  position: relative;
  text-align: end;
  font-weight: bold;
  font-size: 2em;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
  margin-right: 1px;
  z-index: -1;
  /* outline: 1px solid #888888; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 9px 7px 9px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.app {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  margin-top: 10em;
  width: 395px;
  height: 600px;
  /* box-shadow: 3px 5px 23px 0px rgb(43, 41, 41); */

}

.row {
  display: flex;
  width: 100%;
}

